* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    height: auto;
    width: 100vw;
    padding-top: 40px;
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 20px;
    font-weight: 800;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white
}
.logo img{
    width: 190px;
    height: auto;
    margin: auto;
    padding: 28px 0px 0px 10px;
}
.menu{
    float:right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex; 
    line-height: 80px;
    position:sticky ; 
    position:-webkit-sticky; 
    top: 0; 
    background-color: #0D0C0C;
    z-index: 1;

}

nav ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow:hidden;
}
nav ul li{
    float: left;
}
nav ul li a{
    text-align: sticky;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 20px 16px 0px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.menu ul li a:hover {
    text-decoration: underline;
}

.header{
    background:#0D0C0C;
}
.header h1{
    color: white;
    padding-top: 20px;
    padding-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.body{
    padding-left: 20px;
    margin-left: 20px;
    margin-top: 20px;
    
}
.body h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-decoration: underline;
    padding-bottom: 20px;
}
.table{
    padding-bottom: 30px;
}

.audition{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.search{
    padding-top: 50px;
}
.mic{
    width: 30px;
    padding-right: 90px;
}
.cap{
    width: 30px;
    padding-left: 90px;
    padding-right: 90px;
}
.dance{
    width: 30px;
    padding-left: 90px;
    padding-right: 90px;
}
.film{
    width: 30px;
    padding-left: 90px;
}
.model{
    width: 30px;
    padding-left: 90px;
    padding-right: 90px;
}
