* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    height: auto;
    width: 100vw;
    padding-top: 40px;
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 20px;
    font-weight: 800;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white
}
.logo img{
    width: 190px;
    height: auto;
    margin: auto;
    padding: 28px 0px 0px 10px;
}
.menu{
    float:right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex; 
    line-height: 80px;
    position:sticky ; 
    position:-webkit-sticky; 
    top: 0; 
    background-color: #0D0C0C;
    z-index: 1;

}

nav ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow:hidden;
}
nav ul li{
    float: left;
}
nav ul li a{
    text-align: sticky;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 20px 16px 0px 16px;
    text-decoration: none;
}
.menu ul li a:hover {
    text-decoration: underline;
}

.slider{
    position: relative;
    height: auto;
    width: 100%;
}

.content{
    padding-top: 100px ;
}

.content .main-text{
    margin-left: 30px;
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
}

.content .main-text h6{
    font-size: 14px;
    font-weight: 400;
    color: black;
    margin-bottom: 40px;
}
.content .main-text h1{
    font-size: 40px;
    line-height: 0;
    color: black;
    margin: 20px 0px 0px 20px;
}
.content .main-text h2{
    font-size: 60px;
    line-height: 0;
    color: #939393;
    margin: 55px 0px 0px 20px;
}

.now{
    font-size: 100px;
    line-height: 0;
    color: black;
    margin: 20px 0px 0px 20px;
}
.content .main-text h3{
    text-decoration: underline;
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.content .main-text p{
    max-width: 100%;
    width: 480px;
    color: black;
    line-height: 1.8;
    font-size: 15px;
    margin-bottom: 50px;
}
.imagebp{
    position: absolute;
    width: 80%;
    height: auto;
    padding-left: 90px;
    margin-left: 100px;
    bottom: 0;
    right: 0;
    text-align: right;
}
