* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    height: auto;
    width: 100vw;
    padding-top: 40px;
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 20px;
    font-weight: 800;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white
}
.logo img{
    width: 190px;
    height: auto;
    margin: auto;
    padding: 28px 0px 0px 10px;
}
.menu{
    float:right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex; 
    line-height: 80px;
    position:sticky ; 
    position:-webkit-sticky; 
    top: 0; 
    background-color: #0D0C0C;
    z-index: 1;

}

nav ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow:hidden;
}
nav ul li{
    float: left;
}
nav ul li a{
    text-align: sticky;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 20px 16px 0px 16px;
    text-decoration: none;
}
.menu ul li a:hover {
    text-decoration: underline;
}

h1{
    padding-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main{
    width: 350px;
    height: 500px;
    background: red;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px #000000;

}
#chk{
    display: none;
}

.signup{
    position: relative;
    width: 100%;
    height: 100%;
}

label{
    color: #FFFFFF;
    font-size: 15px;
    justify-content: center;
    margin-left: 50px;
    padding-top: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: .5% ease-in-out;
}

input{
    width: 1040px;
    height: 30px;
    background: white;
    color: black;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    /* border: 10 #FFFFFF; */
    outline: 7px #939393;
    /* border-radius: 0px; */
}

button{
    width: 110px;
    height: 40px;
    color: white;
    background: black;
    font-size: 15px #000000;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
    outline: 3px #939393;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 1030px;
}
button:hover{
    background: #1E1E1E;
}

.name{
    margin-left: 80px;
    padding-top: 0px;
    font-weight: bold;
    padding-bottom: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #414141;
}
.gender{
    margin-left: 10px;
}
#option-2{
    height: 30px;
    width: 30px;
    padding-bottom: 0pc;
    
}
.ini{
    padding-left: 10px;
}
.content{
    margin-left: 5px;
}
/* .baru{
    display: inline-flex;
    height: 60px;
    width: 60px;
    align-items: center;
    /* justify-content: space-evenly; */
    /* border-radius: 5px; */
    /* padding: 20px 15px; */
    /* padding-left: 100px;

} */ 